Repository LSSTDESC/CLMM, pull requests merged in 2020-06, with the labels that each got.

#276 Make GCData the main data object to be used by the code
  clmm/__init__.py
  clmm/galaxycluster.py
  clmm/gcdata.py
  clmm/lsst/load_clusters_with_gcr.py
  clmm/polaraveraging.py
  examples/demo_polaraveraging_functionality.ipynb
  examples/support/mock_data.py
  tests/test_galaxycluster.py
  tests/test_polaraveraging.py
Labels: PR: Ready for Review, priority

#283 Issue/248/naming scheme improvement
  clmm/__init__.py
  clmm/plotting.py
  clmm/polaraveraging.py
  examples/Example1_Fit_Halo_Mass_to_Shear_Catalog.ipynb
  examples/Example2_Fit_Halo_Mass_to_Shear_Catalog.ipynb
  examples/Example3_Fit_Halo_Mass_to_Shear_Catalog.ipynb
  examples/demo_polaraveraging_functionality.ipynb
  tests/test_polaraveraging.py
Labels: PR: Ready for Review

#273 Issue/249/dc2 notebooks
  clmm/utils.py
  examples/DC2_examples/DC2_gt_profiles.ipynb
  examples/DC2_examples/data_and_model_demo_DC2.ipynb
  examples/DC2_examples/shear_azimuthal_Averager_demo_DC2.ipynb
  examples/demo_polaraveraging_functionality.ipynb
  tests/test_utils.py
Labels: PR: Ready for Review, dc2

#274 Add instruction to access DC2 catalogs at NERSC to CONTRIBUTING.md
  CONTRIBUTING.md
  examples/Example1_Fit_Halo_Mass_to_Shear_Catalog.ipynb
  examples/load_from_DC2.ipynb
Labels: PR: Ready for Review, dc2
